.idea
**/logs
*.pid
*.jar
*.iml
**/target
**/temp/**
/build/

.settings
.classpath
.project
*.*~
*.log
backupSql/
tmp/
!.mvn/wrapper/maven-wrapper.jar
backup-sql-file.bgv
sql
log/
.DS_Store

# Frontend & Auto-Build ignores
/src/main/resources/templates/
/src/main/frontend/node_modules/
/src/main/frontend/build/
